/* roots and customs */
:root {
  --clr-white: #f7e1fa;
  --clr-primary: #dc00fd;
  --clr-midtone: rgba(220, 0, 253, 0.4);
  --clr-darktone: rgba(109, 14, 124, 0.7);
  --clr-contrast1: #06c5d6;
  --clr-contrast2: #0a6863;
  --ff-primary: "Redressed", cursive;
  --ff-accent: "Montserrat", sans-serif;
  --ff-accent2: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("images/library-background.png");
}

.header {
  background-color: var(--clr-darktone);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
/* .header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */
.header-left {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-mid {
  display: flex;
}
/* .header-right > a {
  cursor: pointer;
  margin-bottom: 5px;
  transition: 0.2s;
}
.header-right > a:hover {
  transform: scale(1.05);
} */
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  min-height: 90vh;
}
.main-title {
  text-align: center;
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-size: 4rem;
  text-shadow: 1px 1px white;
}
.subTitle {
  text-align: center;
  font-family: var(--ff-accent);
  font-size: 1.5rem;
  color: white;
}
.header-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
button,
#submitForm {
  outline: none;
  color: var(--clr-white);
  background-color: transparent;
  box-shadow: -3px -3px 5px rgba(254, 212, 255, 0.4),
    5px 5px 10px rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 15px;
  transition: box-shadow 0.2s ease-in;
}
button:hover,
#submitForm:hover {
  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.6),
    5px 5px 10px rgba(254, 212, 255, 0.4);
}
#addBook,
#clear-storage {
}
.log {
  font-family: var(--ff-accent);
  padding: 1rem;
  margin: 0 2rem;
  border: 2px solid var(--clr-white);
  color: var(--clr-white);
}
form {
  color: var(--clr-white);
  visibility: hidden;
  z-index: 1000;
  padding: 2rem;
  background: linear-gradient(
    to left,
    var(--clr-contrast1),
    var(--clr-contrast2)
  );
  width: 300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-150px);
}
.redRequired {
  background-color: white;
  color: red;
}
.bookList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  font-family: var(--ff-accent2);
  margin-top: 1rem;
}

.newBook {
  outline: 12px solid rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  width: 320px;
  padding: 1.5rem;
  background-color: rgba(220, 0, 253, 0.4);
  backdrop-filter: blur(3px);

  margin: 20px;
}
.newTitle,
.newAuthor,
.newPages,
.newStatus {
  margin-bottom: 5px;
}
.newTitle {
}
.newAuthor {
  text-transform: uppercase;
}
.newPages {
}
.newStatus {
}
.newRating {
}
.deleteButton {
  cursor: pointer;
  position: absolute;
  color: white;
  border-radius: 0;
  background-color: transparent;
  top: 0;
  right: 0;
  padding: 2px 2px 1px 2px;
  border: none;
  outline: none;
  box-shadow: none;
}
/* form start */
label {
  display: inline-block;
  margin-bottom: 5px;
  font-family: var(--ff-accent);
}
input,
select {
  background-color: var(--clr-white);
  width: 100%;
  font-family: var(--ff-accent);
  font-style: italic;
  display: block;
  margin-bottom: 1rem;
}

/* form end */

/* footer start */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #dcdcdc;
  background-color: black;
}
footer > div {
  padding: 1rem;
}
.footer-contact {
  font-family: var(--ff-accent);
  color: var(--clr-lighter);
}
.footer-contact-links {
  display: flex;
  flex-direction: column;
}
footer a,
footer .fab,
footer .fas,
footer img {
  /* text-decoration: none; */
  color: lightblue;
  transition: all 0.2s ease-in-out;
}
footer a:hover,
footer .fab:hover,
footer .fas:hover,
footer img:hover {
  transform: scale(1.1);
  color: yellow;
}
.footer-logo {
  width: 200px;
}
.footer-social {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.copyright {
  padding: 0.5rem 0;
}
/* footer ends */
@media screen and (max-width: 800px) {
  .header {
    padding: 0.3rem;
  }

  .log {
    padding: 1rem;
    margin: 0;
  }
  .header-mid {
    width: 100%;
    justify-content: space-between;
  }
  .header-left {
    flex-direction: column;
  }
  .subTitle {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 600px) {
  body {
    padding: 0;
  }
  .main-title {
    font-size: 3rem;
  }
  .subTitle {
    font-size: 1rem;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-contact {
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  .main-title {
    font-size: 2.5rem;
  }
  .log {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  button,
  select {
    font-size: 0.7rem;
  }
  a > img {
    width: 150px;
  }
}
